[submodule "aafp"]
	path = implementations/rust
	url = https://github.com/davidnichols-ops/aafp.git
[submodule "aafp-go"]
	path = implementations/go
	url = https://github.com/davidnichols-ops/aafp-go.git
